<section class="container">
  <div class="signup-container">
    <p class="signup-title">Criar sua conta</p>
    <form class="signup-form">
      <ul class="signup-list">
        <li class="signup-list-item">
          <span class="label-item">Usuario</span>
          <input class="signup-input" type="text">
        </li>
        <li class="signup-list-item">
          <span class="label-item">Senha</span>
          <input class="signup-input" type="password">
        </li>
      </ul>
      <button type="submit">Criar conta</button>
      <span>Ja possui conta? <a href="#">Acesse</a></span>
    </form>
  </div>
</section>
