<div class="container">

  <div class="container-left">

    <form class="container-form" (ngSubmit)="onAuthenticate()">


      <span>Usuário</span>
      <input
        [(ngModel)]="user"
        name="user"
        class="input-text"
        type="text"
        placeholder="digite seu usuário"
      >

      <span>Senha</span>
      <input
        class="input-text"
        type="password"
        placeholder="digite sua senha"
        name="password"
        [(ngModel)]="password"
      />

      <div class="support">
        <div class="remamber">
          <input type="checkbox" checked>
          <label>Lembre-se</label>
        </div>
        <a href="">Esqueci minha senha</a>
      </div>

      <button  type="submit">ENTRAR</button>

      <p>ainda não tem uma conta?
        <strong>
          <a href="">registre-se</a>
        </strong>
      </p>
    </form>

  </div>
    <div class="container-right">
      <img src="../../assets/images/side-image.jpg" alt="">
  </div>

</div>
