<header>
  <nav>
    <ul>
      <li><a>Entrar</a></li>
      <li><a [routerLink]="['sign-up']">Criar conta</a></li>
    </ul>
  </nav>
</header>

<section class="fadeIn">
  <div class="container-description ">
    <h1>Planning Poker que economiza o tempo de estimativa da sua Sprint</h1>
    <p>Média automática.</p>
    <p>Crie sessões para o seu time.</p>
    <p>Automatize a contagem das hitórias.</p>
    <button type="submit">Começe agora</button>
  </div>
  <img src="../../../assets/images/landing.jpg" alt="">
</section>
